* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #68adde;
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

.container {
    width: 600px;
    display: flex;
    position: relative;
    gap: 20px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 51, 102, 0.2);
}

.left-column, .right-column {
    width: 50%;
    padding: 10px;
    z-index: 2;
}

.left-column {
    border-radius: 20px;
    border: 5px solid #003366;
    text-align: center;
    background-color: #005588;
    color: #f0f8ff;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 28px;
    margin-top: 33px;
}

section {
    margin-top: 15px;
    margin-bottom: 13px;
} 

section h2 {
    font-size: 13px;
    color: #003366;
    padding: 3px 8px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 5px;
} 

.left-column p, 
.left-column ul li {
    font-size: 12px;
    color: white;
    line-height: 1.5;
} 

.left-column h2 {
    background-color: #f0f8ff;
}

.right-column p, 
.right-column ul li {
    font-size: 12px;
    color: #003366;
    line-height: 1.5;
} 


.name-title {
    font-size: 16px;
    color: white;
    background-color: #005588;
    border: 2px solid #003366;
    padding: 4px 8px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 26px;
} 


.section-ul li {
    list-style-type: none;
} 

.right-column {
    text-align: justify;
}

.profile img {
    border: 5px solid #003366;
}

.about-me {
    border-top: 3px solid #003366;

}

.education {
    border-top: 3px solid #003366;

}

.experience {
    border-top: 3px solid #003366;

}

.references {
    border-top: 3px solid #003366;
}

.bar {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    height: 150px;
    background-color: #003366;
