* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 12px;
    flex-direction: row;
}

.section-ul {
    padding-inline-start: 0;
}

@media (width: 374px) { 
    .container {
        flex-direction: column;
    }

    .right-column {
        order: 1;
    }

    .left-column {
        order: 2;
    }
    
}

.list {
    list-style-type: none;
}

body {
    background-color: #68adde;
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    height: auto;
    display: flex;
    position: relative;
    gap: 20px;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 51, 102, 0.2);
}

.right-column {
    width: 60%;
    padding: 10px;
    z-index: 2;
}

.left-column {
    width: 40%;
    border-radius: 20px;
    border: 5px solid #003366;
    background-color: #005588;
    color: #f0f8ff;
    z-index: 2;
    padding: 4px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 28px;
    margin-top: 33px;
}

section {
    margin-top: 15px;
    margin-bottom: 13px;
} 

section h2 {
    font-size: 1.2rem;
    color: #003366;
    padding: 6px 8px;
    border-radius: 15px;
    /* display: inline-block; */
    margin-bottom: 5px;
} 

.left-column p, 
.left-column ul li {
    font-size: 1rem;
    color: white;
    line-height: 1.5;
} 

.left-column h2 {
    background-color: #f0f8ff;
    text-align: center;
    padding: 1px;
}

.right-column p, 
.right-column ul li {
    font-size: 1rem;
    color: #003366;
    line-height: 1.5;
} 

.name-title {
    font-size: 1.5rem;
    color: white;
    background-color: #005588;
    border: 2px solid #003366;
    padding: 4px 8px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 26px;
} 

.list {
    color: black;
}

.right-column {
    text-align: justify;
}

.profile img {
    border: 5px solid #003366;
}

.about-me {
    border-top: 3px solid #003366;

}

.education {
    border-top: 3px solid #003366;

}

.experience {
    border-top: 3px solid #003366;

}

.references {
    border-top: 3px solid #003366;
}

.bar {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    height: 150px;
    background-color: #003366;

}

.profile {
    text-align: center;
} 
